.course-recommendation-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.search-container {
  display: flex;
  width: 60%;
  padding-left: 300px;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  width: 20%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.course-list {
  list-style-type: none;
  padding: 0;
}

.course-item {
  margin-bottom: 20px;
}

.course-container {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-info {
  width: 100%;
}

.course-info h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.course-info p {
  margin: 5px 0;
  color: #555;
}

.course-info a {
  color: #007bff;
  text-decoration: none;
}

.course-info a:hover {
  text-decoration: underline;
}
